<div class="card-event">
  <div class="event">
    <div class="row">
      <div class="col-4 text-dark-emphasis">Requerente</div>
      <div class="col-8">Alberto Cesar Pinheiro da Silva</div>
    </div>
    <div class="row">
      <div class="col-4 text-dark-emphasis">Requerente</div>
      <div class="col-8">Alberto Cesar Pinheiro da Silva</div>
    </div>
    <div class="row">
      <div class="col-4 text-dark-emphasis">Requerente</div>
      <div class="col-8">Alberto Cesar Pinheiro da Silva</div>
    </div>
  </div>

</div>
