<nav class="navbar bg-body-tertiary shadow">
  <div class="container ">
    <span class="navbar-brand mb-0 h1 fw-bold">Scheduler</span>
    <div class="options">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">Opções</button>
        <ul class="dropdown-menu">
          <li><a routerLink="home" class="dropdown-item">Visualizar Eventos</a></li>
          <li><a href="#" class="dropdown-item">Agendar Sala</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>